.nav-bar {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-top: 10px;
}

.text {
    margin-bottom: 10px;
}

.inq {
    width: 70%;
    height: 5%;
    border: 2px palevioletred solid;
}

.image {
    background-repeat: no-repeat;
    background-position: right bottom 100%;
    background-size: 50%;
    background-image: url('images/фон1.jpg');
}

.left-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    width: 50%;
    align-items: center;
}

.container__quotes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-y: scroll;
}

.container__quotes__one {
    width: inherit;
}

.left-container__auth {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.chat-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: -webkit-fill-available;
    width: 50%;
    align-items: center;
}

.chat-messages-container {
    width: 100%;
    height: 100%;
}

.chat-controls {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.chat-input {
    width: -webkit-fill-available;
}

.head {
    position: absolute;
    right: 18%;
    top: 50%;
    color: white;
    -webkit-text-stroke: 1px palevioletred;
}

.quot {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    justify-content: space-between;
}

.ad {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.quot__buttons {
    display: flex;
    column-gap: 10px;
}
